@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Bungee+Inline|Bungee+Outline');

.bungee-shade {
  font-family: 'Bungee Shade', cursive;
}
.bungee-inline {
  font-family: 'Bungee Inline', cursive;
}
.bungee-outline {
  font-family: 'Bungee Outline', cursive;
}
