<div class="absolute bottom-2-ns w-100">
	<div class="w-80 w-50-m w-50-l bg-black-30 center pa4">
		<h1 class="f2-ns f3 white-80 bungee-inline">Você foi adicionado com sucesso ao nosso mailing!</h1>
		<p class="f2-ns f3 white-80">Em breve receberá informações sobre o Black Machine.</p>
	</div>
</div>
