<div class="controls absolute bottom-1 right-1">
	<button class="play f6 f4-l bungee-inline button-reset fl pv3 mr2 tc bg-animate bg-black-70 hover-bg-black white pointer ba b--near-black br2-ns br--right-ns">Pausar</button>
  <button class="sound f6 f4-l bungee-inline button-reset fl pv3 tc bg-animate bg-black-70 hover-bg-black white pointer ba b--near-black br2-ns br--right-ns">Aumentar o som</button>
</div>
