<div class="main_image_wrapper w-100 h-100 cover bg-center bg-black" style="background-image: url(<%= asset_path(hero_image)%>);">
	<div class="w-100 vh-100 bg-black-30" style="background-image: url(<%= asset_path("3px-tile.png")%>);">
		<div class="w-100 pv7 center measure-wide">
			<%= content %>
		</div>
	</div>
</div>
