<div class="w-100 cf pb5">
	<h3 class="f2 white lh-title bungee-inline"><%= title %></h3>
	<p class="f3 white"><%= description %></p>
	<div class="gallery">
		<%= cell(Galleries::ImageCell, :collection => images) %>
	</div>
</div>
