<div class="absolute bottom-2 w-100">
  <form class="w-80 w-50-m w-40-l center pa4 br2-ns ba b--black-10">
    <fieldset class="cf bn ma0 pa0">
      <legend class="pa0 f5 f3-ns mb3 white-80">Se inscreva em nossa newsletter</legend>
      <div class="cf">
        <label class="clip" for="email-address">Seu email</label>
        <input class="f6 f4-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns" placeholder="Seu email" type="text" name="email-address" value="" id="email-address">
        <input class="f6 f4-l button-reset fl pv3 tc bg-animate bg-black-70 hover-bg-black white pointer w-100 w-25-m w-20-l ba b--near-black br2-ns br--right-ns" type="submit" value="Get Up!">
      </div>
    </fieldset>
  </form>
</div>
