<div class="main_image_wrapper w-100 vh-100 cover bg-center" style="background-image: url(<%= asset_path("BlackMachine.jpg")%>);">
	<div class="w-100 vh-100 bg-black-50" style="background-image: url(<%= asset_path("3px-tile.png")%>);">
		<div class="w-100 pt7 measure-wide center contact_container">
			<%= render 'contact_form'%>
		</div>
	</div>
</div>
