<div class="main_image_wrapper w-100 vh-100 cover center" style="background-image: url(<%= asset_path("BlackMachineCineOp0001.jpg")%>);">
	<div class="w-100 vh-100 bg-black-50" style="background-image: url(<%= asset_path("3px-tile.png")%>);">
		<div class="w-100 pv7 center measure-wide">
			<h1 class="f1 white ph4 lh-title bungee-inline">Eventos próximos</h1>
			<%= cell(EventsCell, @event).(:item) %>
		</div>
		<div class="w-100 center measure-wide">
			<h2 class="f2 white ph4 lh-title bungee-inline bb b--white-50">Eventos anteriores</h2>
			<%= cell(EventsCell, :collection => @events) %>
		</div>

	</div>
</div>
