<div class="main_image_wrapper w-100 vh-100">
	<div class="w-100 vh-100 bg-black-50" style="background-image: url(<%= asset_path("3px-tile.png")%>);">
		<div class="w-100 pv7 ph7 ph3-m ph2-s">
			<div class="fn w-40-ns w-100 fl-ns right-1-l"><%= image_tag("blackMachinePt00.png")%></div>
			<div class="fn w-60-ns w-100 fl-ns left-1-l"><%= image_tag("blackMachinePt01.png")%></div>
		</div>
		<%= render "shared/controls" %>
	</div>
</div>
