<div class="main_image_wrapper w-100 vh-100 bg-top cover bg-black" style="background-image: url(<%= asset_path("BlackMachine.jpg")%>);">
	<div class="w-100 vh-100 relative" style="background-image: url(<%= asset_path("3px-tile.png")%>);">
		<%= render "newsletter_form" %>
	</div>
</div>
