<div class="main_video_wrapper w-100 vh-100 cover bg-center">
	<div class="w-100 vh-100 bg-black-50" style="background-image: url(<%= asset_path("3px-tile.png")%>);">
		<div class="pt7 mw9-ns mw6 center">
			<div class="w-100"><%= image_tag("blackMachineLogoTipo.png")%></div>
		</div>
		<div class="w-100 vh-50-l vh-50-m relative" id="newsletterContainer">
			<%= render "form" %>
		</div>
		<%= render "shared/controls" %>
	</div>
</div>
