<div class="main_image_wrapper w-100 vh-100 cover" style="background-image: url(<%= asset_path("BlackMachine.jpg")%>);">
	<div class="w-100 vh-100 bg-black-50" style="background-image: url(<%= asset_path("3px-tile.png")%>);">
		<div class="w-100 pt6 pt7-l center measure-wide">
			<%= cell(GalleriesCell, :collection => @galleries) %>
		</div>
	</div>
</div>
