<div class= "fl pa1 ma1 bg-black h4-m h3 w5-m w4">
	<%= link_to file_url(:display), :target => :_blank, :data=> {:lightbox => "example-1"} do %> 
		<%= image_tag file_url(:thumb), :class => "dib" %>
	<% end %>
</div>
