<div class="w100 bg-black-30 center pa4">
	<h1 class="f2-ns f3 white-80 bungee-inline">Sua mensagem foi enviada com sucesso</h1>
	<p class="f2-ns f3 white-80">Em breve entraremos em contato, respondendo sua solicitação.</p>
</div>
