<div class="center bg-black-30 pa4 f3 white">
	<div class="w-50 fl">
		<h1 class="f3 mt0 lh-title bungee-inline"><%= title %></h1>
	</div>
	<div class="w-50 fl">
		<p class="f4">
			<%= description %>
		</p>
	</div>
	
	<%= link_to url_ticket, :class => "f3 bungee-inline button-reset fl pv4 mt3 tc bg-animate bg-black-60 hover-bg-black white pointer w-100 ba b--white-50 br2-ns br--right-ns" do %>
			Comprar Ingresso
		<span class="glyphicon glyphicon-hand-right"></span>
	<% end %>
</div>
