<div class="center bg-black-30 pa4 f3 white">
	<div class="w-100 fl">
		<h3 class="f3 mt0 lh-title bungee-inline"><%= title %></h3>
	</div>
	<div class="w-100 fl">
		<p class="f4">
			<%= description %>
		</p>
	</div>
</div>
