//
// Prefer imports over require
// http://pivotallabs.com/structure-your-sass-files-with-import/
//

//= require_self

// Core
@import "variables";
@import "bootstrap";
@import "tachyons/tachyons";
@import "tachyons/fonts";

// Plugins
@import 'ionicons';
//
// Minor Tweaks
//

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url("bootstrap/glyphicons-halflings-regular.eot");
	src: url("bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
	url("bootstrap/glyphicons-halflings-regular.woff") format("woff"),
	url("bootstrap/glyphicons-halflings-regular.ttf") format("truetype"),
	url("bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
// Make sure alerts are nicely formatted
.alert {
  a {
    white-space: nowrap;
  }
}

body{
font-size:16px;
}
